{%extends 'base.html'%}
{%load static%}

{%block content%}
<section class="about-section">

    <div class="container-fluid p-0">

        <div class="row g-0 align-items-stretch">

            <div class="col-lg-5 d-flex align-items-center">

                <div class="about-content">

                    <h2 class="about-title">
                        O Castelo  Animado
                    </h2>

                    <p class="about-text" style="text-align: justify;">
                        O Castelo Animado é uma animação do Studio
                        Ghibli, dirigida por Hayao Miyazaki e
                        inspirada no livro de Diana Wynne Jones.
                        A obra mistura fantasia, magia e aventura
                        em um universo visualmente encantador.
                    </p>

                </div>

            </div>

            <div class="col-lg-7 p-0">
                <img src="{% static 'imgs/about.jpeg' %}"
                     class="about-img"
                     alt="O Castelo Animado">
            </div>

        </div>

    </div>

</section>
    <div id="sobre" class="sobre">
        <div class="container p-5">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="pt-5">Sobre o filme</h1>
                    <p class="text-justify">  
                       Este site  tem o objetivo de apresentar informações sobre o filme O Castelo Animado, uma das obras mais marcantes do Studio Ghibli.
                        O projeto reúne detalhes sobre a história do filme, seus personagens e os dubladores responsáveis por dar voz à animação.</p>
                        <p class="text-justify"> 
                            Lançado em 2004 e dirigido por Hayao Miyazaki, O Castelo Animado é uma animação de fantasia 
                            reconhecida mundialmente por sua narrativa envolvente, visual artístico e elementos mágicos que conquistaram diferentes gerações.
                        </p>
                        <strong> Descrição</strong>
                        
                         {% for informacao in informacoes %}
                         <ul>
                            <li> {{informacao.titulo}} </li>
                            <li> {{informacao.ano}} </li>
                            <li> {{informacao.diretor}} </li>

                         </ul>
                         {%endfor%}

                </div>   
                <div class="col-12 col-md-6">
                    <img src="{%static 'imgs/sobre.png'%}" class="img-fluid " alt="ghibli"/>
                </div>
            </div>
        </div>
    </div>

{% endblock%}